cloud:
  aws:
    credentials:
      access-key: ${access-key}    
      secret-key: ${secret-key}    
            
    region:
      static: ap-south-1
      auto: false
      
    stack:
      auto: false
      

     
      
